output/
weights/
.ipynb_checkpoints/
__pycache__/
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
*/__pycache__/*
__pycache__
weights-self-0.02/
print*/
model-weights/self-*
runs/
.vscode
*.csv